---
---
<section id="quotes">

  <div class="s3__quote s3__quote--a">
    <p class="s3__text">What I wanted started to show up way sooner than I thought was possible, so I went further</p>
    <img src="/images/mountain-card.png" class="s3__img s3__img--a" data-parallax="0.08" alt="" aria-hidden="true" />
  </div>

  <div class="s3__quote s3__quote--b">
    <p class="s3__text">The right things just started to shift and there was a clear way forward.</p>
    <img src="/marks/Vector-1.svg" style="position:absolute;bottom:60px;left:var(--gutter);width:130px;opacity:0.50;pointer-events:none;z-index:2;" alt="" aria-hidden="true" />
    <img src="/images/horizon.png" class="s3__img s3__img--b" data-parallax="-0.10" alt="" aria-hidden="true" />
  </div>

  <div class="s3__quote s3__quote--c">
    <p class="s3__text">I realized I wasn't stuck. I just hadn't chosen yet. Once I did, I felt so relieved and powerful.</p>
    <img src="/images/rose.png" class="s3__img s3__img--c" data-parallax="0.09" alt="" aria-hidden="true" />
  </div>

</section>
