---
---
<section class="s5" id="waymaker">
  <div class="s5__inner">

    <div class="s5__left" id="s5Left">
      <img src="/marks/Vector-10.svg" class="s5__mark" alt="" aria-hidden="true" />
      <span class="s5__word">Waymaker</span>
      <p class="s5__definition">someone who goes first and creates direction</p>
    </div>

    <ul class="s5__list">
      <li class="s5__item" id="s5i1">You create in the unknown</li>
      <li class="s5__item" id="s5i2">Influence follows from what you create</li>
      <li class="s5__item" id="s5i3">Work expresses your vision</li>
      <li class="s5__item" id="s5i4">You are always transforming</li>
    </ul>

  </div>
</section>
